PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_4ndpC0JEFbHD@ep-plain-hall-a5bzqi3m-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# JWT Authentication
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="1hr"

# Refresh Token
REFRESH_TOKEN_EXPIRES_DAYS=7

CLOUDINARY_CLOUD_NAME="vrfisicz"
CLOUDINARY_API_KEY="432252552628372"
CLOUDINARY_API_SECRET="TbSg3i0ejr9E0qg3bDY18SIjftw"